body, h1, h2, h3, p, ul, li {
    padding: 0px;
    margin: 0px;
}

/* Defining the general font-family of the sites */
body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    line-height: 1.4em;
    
}

* {
    box-sizing: border-box; /*add border and padding into element*/
}

.main-container {
    background-color:   hsl(204, 43%, 93%);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.community {
    position: absolute;
    margin-bottom: 400px;
    margin-top: 20px;
    width: 640px;
    height: 210px;
    padding: 40px;
    background-color: #FFF;
    border-radius: 7px 7px 0 0;
}

h1 {
    font-size: 32px;
    color:  hsl(179, 62%, 43%);
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 18px;
    color: hsl(71, 58%, 48%);
    margin-bottom: 1.5rem;
}

.community p {

    font-size: 1rem;
    color: hsla(217, 22%, 67%, 0.666);
}

.community p:last-child {
    margin-bottom: 1.5rem;
}

.subscription {
    width: 320px;
    height: 260px;
    background-color:#43a7a4;
    color:#FFF;
    padding: 3rem;
    border-radius: 0 0 0 7px;
    margin-top: 90px;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color:rgba(255, 255, 255, 0.865);
    font-weight: normal;
}

.month {
    color: rgba(255, 255, 255, 0.577);
    font-weight: normal;
    font-size: .865em;
    position: absolute;
    margin-left: 60px;
    margin-top: -20px;
}

.cost {
    font-size: 1.9em;
    display: flex;
}

.access {
    font-size: .9rem;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.782);
    margin-top: 1rem;
}

.btn {
    border: none;
    border-radius: 4px;
    width: 220px;
    height: 45px;
    margin-top: 1.5rem;
    color: rgba(255, 255, 255, 0.858);
    background-color: hsl(71, 73%, 54%);
    font-size: .845rem;
    font-weight: bold;
    box-shadow: 3px 4px 1px rgba(52, 51, 51, 0.091);
}


.why-subscript {
    margin-top: 90px;
    background-color: #67c6c6;
    width: 320px;
    height: 260px;
    border-radius: 0 0 7px 0;
    color:#FFF;
    padding: 3rem;
    display: inline-block;
}

.reasons-subscript li {
    font-size: 14px;
    line-height: 1.1rem;
    font-weight: normal;
    color:rgba(255, 255, 255, 0.536);
}

li {
    list-style-type: none;
}


/* centralize container! made haha */

.footer-container {
    height: 30px;
    text-align: center;
    background-color: hsla(217, 22%, 67%, 0.666);
}

.footer-container p {
    padding: 5px;
    
    color: #FFF;
}

.footer-container p a {
    text-decoration: none;
    color:#43a7a4
}