.container { 
    width: 800px;
    height: 500px;
    margin: 0 auto; 
    background: #ddd;
}
  
.box-1 {
    width: 200px;
    height: 80px;
    background: #aaa;
    padding: 20px;
    border: 1px dashed #000;
    margin-left: 20px;
}

.box-2 {
    width: 200px;
    height: 80px;
    background: #aaa;
    padding: 20px;
    border: 1px dashed #000;
    margin-left: 20px;
    margin-top: 20px;
}